body {
    margin: 0;
    padding: 0;
    background-image: url(glaxy.jpeg);
    background-position: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    text-align: center;
    padding: 50px 60px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    border: 4px solid white;
    object-fit: cover;
    box-shadow: 0 0 15px #ffffff88;
}

.info {
    margin-top: 30px;
    font-size: 1.2rem;
    line-height: 2rem;
}

.next-btn {
    display: iline-block;
    margin-top: 40px;
    padding: 12px 24px;
    font-size: 1.2rem;
    background-color: #00ffff;
    text-decoration: dotted;
    border: 8px;
}

.education-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 2px;
    border-radius: 12px;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.education-box ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.education-box li {
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: #00ffff;
    font-size: 1.5rem;
    border: 2px solid #00ffff;
    padding: 0px 15px ;
    margin: 15px 15px ;
    border-radius: 10px ;
    transition: 0.35s;
  
}

a:hover {
   background-color:#00ffff;
   color: black;
    
}